@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { @apply h-full overflow-hidden; }

/* Default setting: */
/* body { @apply bg-surface-50-900-token; } */

/* --- */

/* Example: primary color via a design token: */
/* body { @apply bg-primary-50-900-token; } */

/* Example: secondary color via Tailwind: */
/* body { @apply bg-secondary-50 dark:bg-secondary-900; } */

/* Example: using vanilla CSS: */
/* body { background: red; } */
/* .dark body { background: blue; } */


@font-face {
	/* Reference name */
	font-family: 'Inter';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
}


:root {
    --theme-font-family-base: 'Inter', sans-serif;
    --theme-font-family-heading: 'Inter', sans-serif;
    /* ... */
}

